<br>
<!-- <div class="booyah-box col-8"> -->
<div class="site-content course-detail-page-wrapper">
  <h1><%= @course.title %></h1>
  <hr>
  <br>
  <div class="row">
    <div class="col-sm-4 col-12 text-center">
      <span class="badge badge-default">
        <%= number_to_currency @course.cost %>
      </span>

      <% if current_user && current_user == @course.user %>
        <br>
        <br>
        <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-danger' %>
      <% end %>
    </div>

    <div class="col-sm-8 col-12">
      <%= @course.description %>
      <br>
      <br>
      <div class="text-center">
        <%= image_tag @course.image, class: 'img-fluid' %>
      </div>
    </div>
  </div>

  <div class="col-12">
    <% @course.sections.each do |section| %>
      <div class="section">
        <h4><%= section.title %></h4>
        <% section.lessons.each do |lesson| %>
          <div class="lesson">
            <%= link_to lesson_path(lesson) do %>
              <b><%= lesson.title %></b>
              -
              <%= lesson.subtitle %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
