<!DOCTYPE html>
<html>
  <head>
    <title>CodeLaunchr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://vjs.zencdn.net/5.12.6/video-js.css" rel="stylesheet">
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>

  <body>
    <div id="flex-content-container">
      <!-- Start Navigation -->
      <nav class="navbar navbar-toggleable-md" style="background-color: #f5f5f5;">
      <!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded"> -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">CodeLaunchr 🚀</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
              <%= link_to 'See All Courses', courses_path, class: 'nav-link' %>
            </li>
          </ul>
          <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item>">
              <%= link_to dashboard_path, class: 'nav-link' do %>
                <i class="fa fa-tachometer"></i>
                  My Dashboard
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                <i class="fa fa-sign-out"></i>
                  Sign out
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: 'nav-link' do %>
                <i class="fa fa-sign-in"></i>
                  Sign in
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: 'nav-link' do %>
                <i class="fa fa-user-plus"></i>
                  Sign up
              <% end %>
            </li>
          <% end %>
        </ul>
        </div>
      </nav>
      <!-- End Navigation -->

      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

    <!-- Start Footer -->
    <div id="footer">
      <div class="container text-center">
        <div class="row">
          <div class="col-12 col-md-3">
            <strong class="section-title">Teachers</strong>
            <br>
            <%= link_to 'Teach a Course', new_instructor_course_path %>
            <br>
            <%= link_to 'My Dashboard', dashboard_path %>
          </div>

          <div class="col-12 col-md-3">
            <strong class="section-title">About</strong>
            <br>
            <%= link_to 'About', 'about_path' %>
            <br>
            <%= link_to 'Privacy Policy', 'privacy_path' %>
          </div>

          <div class="col-12 col-md-3">
            <strong class="section-title">Contact</strong>
            <br>
            info@codelaunchr.com
            <br>
            One Code Square
            <br>
            Toronto, ON M5E 1W5
          </div>

          <div class="col-12 col-md-3">
            <strong class="section-title">Social</strong>
            <br>
            <%= link_to 'https://github.com' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>

            <%= link_to 'https://www.facebook.com' do %>
              <span class="fa fa-facebook-square fa-2x social-button"></span>
            <% end %>

            <%= link_to 'https://twitter.com' do %>
              <span class="fa fa-twitter-square fa-2x social-button"></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer -->
    <script src="http://vjs.zencdn.net/5.12.6/video.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </body>
</html>
